@charset "utf-8";
/* CSS Document */

*{
margin:0px;
}

body{
font:12px verdana;
width:1000px;
margin:auto;
background: repeat-x fixed url(../../images/icons/background.jpg);
}

#top{
	height:150px;
	width:1000px;
	position:relative;
	float:left;
}

#bottom{
font-size:11px;
clear:left;
background:url(../../images/icons/bg-bottom.jpg);
color:#FFFFFF;
text-align:center;
line-height:35px;
height:90px;
font-weight:900;
}

#main{
background:#FFFFFF;
float:left;
width:1000px;
}

#left{
float:left;
width:150px;
background:#325456;
margin-top:10px;

}

#info{
float:left;
width:648px;
border-left:1px solid #FF6600;
border-right:1px solid #FF6600;
}
#info .xemgiohang{
width:628px;
margin:10px;	
}
#right{
float:left;
width:200px;
}
#right #login{
color:#F00;	
}
#right #bg_dongho{
position:relative;
height:240px;
width:200px;
background:url(../../images/icons/bg_dongho.png) no-repeat;	
}

#bg_dongho embed{
	position:absolute;
	top:38px;
	left:8px;
	}

#left .img{
float:left;
margin: 10px 0px 5px 0px;
}

#left .timkiem{
float:left;
margin:5px 1px 5px 1px;
width:140px;

}

#left .img1{
color:#FFF;
float:left;
margin: 0px 5px 10px 5px;
width:140px;

}

#left h1{
height:30px;
line-height:30px;
background:url(../../images/icons/sanpham.png) repeat-x;
color:#FFFFFF;
font-size:14px;
text-align:center;
}

#left ul{
list-style-type:none;
padding:0px;
margin:0px;
}

#left ul a{
text-decoration:none;
color:#666666;
line-height:25px;
background:#EEEEEE url(../../images/icons/arrow.gif) no-repeat 11px 7px;
display:block;
width:125px;
padding-left:25px;
border-bottom:1px solid #FFFFFF;
border-top:1px solid #CCCCCC;
}

#left ul a:hover{
background:url(../../images/icons/sanpcon.png) repeat-x;
}

 /*top menu*/
#menu ul{
list-style-type:none;
padding:0px;
margin:0px;
}

#menu ul li{
display:inline;
}

#menu ul a{
text-decoration:none;
width:165px;
float:left;
text-align:center;
background:url(../../images/icons/Page%201_r2_c12.png) no-repeat;
color:#FFFFFF;
font-weight:900;
border-left:1px solid #FFFFFF;
height:35px;
line-height:35px;
}

#menu ul a:hover{
background:url(../../images/icons/Page%201_r2_c2.png) no-repeat;
}

/*menu left*/
#left li{
position: relative;
}

#left li ul{
position: absolute;
width: 150px;
left: 0px;
top: 0px;
display: none;
}

#left li ul li{
float: left;
}

#left li ul a{
width: 140px;
}

#left .arrowdiv{
position: absolute;
right: 2px;
background: transparent url(../../images/icons/red_arrow_nav.gif) no-repeat center right;
}

* html #left li { float: left; height: 1%; }
* html #left li a { height: 1%; }

/*style menu right*/
#right legend{
color:#009933;
font-weight:900;
}

#right fieldset{
border:1px solid #0099FF;
margin:7px;
}

#right label{
width:120px;
float:left;
padding-left:50px;
font-weight:900;
}

#right .news{
color:#30C;
width:150px;
text-align:center;
margin:17px 5px 8px 20px;
}

.news .cls{
clear:left;
border-bottom:1px solid #CCCCCC;
}

.hang{
float:left;
padding:5px;	
}

.imgsp{
float:left;
width: 50px;
height:50px;	
}

.tensp{
float:left;
color:#03F;	
}

/* */
/*div.border_box{
float:left;
width:194px;
height:auto;
text-align:center;
border:1px  solid #6da6b1;
}*/

#shopping_cart{
    width:200px;
    height:84px;
    text-align:center;
	background:url(../../images/icons/cart_bg.gif) no-repeat;
	margin-bottom:5px;
}
#right_content h2{
    float:left;
    width:200px;
    height:30px;
    margin:5px 0px 0px 0px;
    text-align:center;
    font-size:13px;
    font-weight:bold;
    color:#ffffff;
    line-height:30px;
}
#right_content{
    width:200px;
    float:left;
    padding:5px 0px 0px 0px;
}

#cart_details{
    width:135px;
    float:left;
    padding:5px 0px 0px 15px;
    text-align:left;
}

#border_cart{
    width:100px;
    height:1px;
    margin:3px 0 3px 0;
    display:block;
    border-top:1px #999999 dashed;
}
#border_cart{
    width:100px;
    height:1px;
    margin:3px 0 3px 0;
    display:block;
    border-top:1px #999999 dashed;
}
.product_title{
clear:left;
color:#000;
padding:5px 0px 0px 0px;
font-weight:bold;
}
.product_title_price{
color:#00C;
padding:0px 0px 5px 0px;
font-weight:bold;
}
.product_img a{
/*width:200px;*/
padding:5px 5px 5px 5px;
clear:left;
float:left;
border:0px;
text-decoration:none;
list-style-type:none;
border-image:none;
}


.prod_box{
float:left;
width:194px;
height:auto;
margin:5px 10px 5px 10px;
border:1px solid #999;
}
.top_prod_box{
    float:left;
    width:173px;
    height:12px;
    padding:0px;
    margin:0px;
}
.bottom_prod_box{
    float:left;
    width:200px;
    height:10px;
    padding:0px;
    margin:0px;
}

#price{
    color:#ea2222;
}
.center_prod_box{
    float:left;
    width:173px;
    /*height:195px;*/
    height:auto;
    text-align:center;
    padding:5px 5px 5px 10px;
}

.link{
font:11px verdana;
border:1px solid green;
padding:3px;
}

.active{
font:11px verdana;
border:1px solid green;
padding:3px;
color:white;
background:green;
}

.phantrang{
float:left;
width:648px;
padding: 40px 0px 5px 0px;
text-align:center;
}
#info label{
width:135px;
clear:left;
float:left;
padding-left:25px;
font-weight:900;
margin-top:3px;
}
#info input, select, textarea{
border:1px solid #0099FF;
margin-bottom:3px;
background:#FFFFFF;
color:#009933;
}

#info legend{
color:#009933;
font-weight:900;
}

#info fieldset{
border:1px solid #0099FF;
margin:5px;
}
#right label{
width:120px;
float:left;
padding:0px;
font-weight:900;
margin-top:3px;
}
#right input{
border:1px solid #0099FF;
margin-bottom:3px;
background:#FFFFFF;
color:#009933;
}


.kc_nut{
	margin:5px 20px 0px 0px;
		
}
