/* CSS Document */
@charset "utf-8";
*{
	margin:0px;
	color:black;
}

body{
	font:12px verdana;
	width:700px;
	margin:auto;
}
table{
	font:12px verdana;
	text-align:center;
}

td{
border:#3C0 solid 1px;
}
.title{
	width:200px;
	background:green;
	color:#FFFFFF;
	font-weight:900;
}
.info{
	width:300px;
}
.title1{
	background:green;
	color:#FFFFFF;
	font-weight:900;
}

h3{
	color:#F93;
	font-weight:900;
	font:30px Verdana;
}
legend{
	color:#009933;
	font-weight:900;
}

fieldset{
	border:1px solid #0099FF;
	margin:5px;
	width:610px;
}
label{
	clear:left;
	text-align:left;
	width:170px;
	float:left;
	padding:0px;
	font-weight:900;
	margin-top:3px;
}
.chuky{
	float:right;
	width:140px;
	text-align:center;
}
#duongvien{
	border: 1px solid #000;
}
.center{
	text-align:center;
}
.right{
	text-align:right;
}
tr{
	height:20px;
}
a{
	text-decoration:none
}
#xk_top{
	margin:auto;	
	width:700px;
}
#xk_left{
	float:left;
	width:200px;	
}
#xk_right{
	float:left;
	width:130px;	
	padding-left:70px;
}

#xk_middle{
	float:left;
	width:300px;	
}
#xk_bottom{
	float:left;
	width:700px;	
}
#xk_info{
	float:left;
	width:700px;
	padding-left:30px;	
	padding-right:30px;
}

#xk_info span{
	line-height:20px;
}


