@charset "utf-8";
/* CSS Document */

*{
margin:0px;
}

body{
font:12px verdana;
width:1000px;
margin:auto;
background-image:url(../../images/icons/bg.jpg);
}

#top{
	height:150px;
	width:1000px;
}


#bottom{
font-size:11px;
clear:left;
background:url(../../images/icons/bg-bottom.jpg);
color:#FFFFFF;
text-align:center;
line-height:35px;
height:90px;
font-weight:900;
}

#main{
background:#FFFFFF;
float:left;
width:1000px;
}

#left{
float:left;
width:150px;
background:#325456;
}

#info{
float:left;
width:648px;
border-left:1px solid #FF6600;
border-right:1px solid #FF6600;
}

#right{
float:left;
width:200px;
}

#right #bg_dongho{
position:relative;
height:240px;
width:200px;
background:url(../../images/icons/bg_dongho.png) no-repeat;	
}

#bg_dongho embed{
	position:absolute;
	top:38px;
	left:8px;
	}

#left .img{
float:left;
margin: 10px 0px 5px 0px;
}

#left .img1{
color:#FFF;
float:left;
margin-bottom:10px;
}

#left h1{
height:25px;
line-height:25px;
background:#999933;
color:#FFFFFF;
font-size:14px;
text-align:center;
}

#left ul{
list-style-type:none;
padding:0px;
margin:0px;
}

#left ul a{
text-decoration:none;
color:#666666;
line-height:18px;
background:#EEEEEE url(../../images/icons/arrow.gif) no-repeat 11px 7px;
display:block;
width:125px;
padding-left:25px;
border-bottom:1px solid #FFFFFF;
border-top:1px solid #CCCCCC;
}

#left ul a:hover{
background: #99CC33 11px 7px;
}

 /*top menu*/
#menu ul{
list-style-type:none;
padding:0px;
margin:0px;
}

#menu ul li{
display:inline;
}

#menu ul a{
text-decoration:none;
width:165px;
float:left;
text-align:center;
background:#9C0;
color:#FFFFFF;
font-weight:900;
border-left:1px solid #FFFFFF;
height:25px;
line-height:25px;
}

#menu ul a:hover{
background:#FF9999;
}

/*menu left*/
#left li{
position: relative;
}

#left li ul{
position: absolute;
width: 150px;
left: 0px;
top: 0px;
display: none;
}

#left li ul li{
float: left;
}

#left li ul a{
width: 140px;
}

#left .arrowdiv{
position: absolute;
right: 2px;
background: transparent url(../../images/icons/red_arrow_nav.gif) no-repeat center right;
}

* html #left li { float: left; height: 1%; }
* html #left li a { height: 1%; }

/*style menu right*/
#right legend{
color:#009933;
font-weight:900;
}

#right fieldset{
border:1px solid #0099FF;
margin:7px;
}

#right label{
width:120px;
float:left;
padding-left:50px;
font-weight:900;
}

#right .news{
color:#30C;
width:150px;
text-align:center;
margin:17px 5px 8px 20px;
}

.news .cls{
clear:left;
border-bottom:1px solid #CCCCCC;
}

.hang{
float:left;
padding:5px;	
}

.imgsp{
float:left;
width: 50px;
height:50px;	
}

.tensp{
float:left;
color:#03F;	
}

/* */
/*div.border_box{
float:left;
width:194px;
height:auto;
text-align:center;
border:1px  solid #6da6b1;
}*/
.product_title{
color:#ea2222;
padding:5px 0px 5px 0px;
font-weight:bold;
}
/*.product_title a{
text-decoration:none;
color:#ea2222;
padding:5px 0px 5px 0px;
font-weight:bold;
}
.product_title a:hover{
color:#064E5A;
}*/
.product_img{
/*width:200px;*/
padding:5px 0px 5px 0px;
}
/*.product_img img{
    padding: 2px;
    background: #cecece;
}*/
/*div.prod_price{
    padding:5px 0px 5px 0px;
}
span.reduce{
    color:#999999;
    text-decoration:line-through;
}
span.price{
    color:#ea2222;
}*/
.prod_box{
float:left;
width:206px;
height:auto;
margin:5px 0px 0px 10px;
}
.top_prod_box{
    float:left;
    width:173px;
    height:12px;
    padding:0px;
    margin:0px;
}
.bottom_prod_box{
    float:left;
    width:173px;
    height:10px;
    padding:0px;
    margin:0px;
}
.center_prod_box{
    float:left;
    width:173px;
    /*height:195px;*/
    height:auto;
    text-align:center;
    padding:0px;
    margin:0px;
}
/*.prod_details_tab{
    width:173px;
    height:31px;
    float:left;
    background:url(../../../images/products_details_bg.gif) no-repeat center;
    margin:3px 0px 0px 0px;
}
div.prod_details_tab img{
    float:left;
    padding:6px 0px 0px 6px;
}
div.prod_details_tab a.prod_details{
    width:45px;
    display:block;
    float:left;
    background:url(../../../images/square-blue-add.gif) no-repeat 20px;
    padding:0px 0px 0px 40px;
    margin:7px 0px 0px 40px;
    text-decoration:none;
    color:#0fa0dd;
}*/

.link{
font:11px verdana;
border:1px solid green;
padding:3px;
}

.active{
font:11px verdana;
border:1px solid green;
padding:3px;
color:white;
background:green;
}